* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 700px;
  padding: 10px;
  border-radius: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  color: aliceblue;
  background-color: rgb(107, 161, 207);
}

article {
  padding: 20px;
  display: block;
  transform: translateZ(30px);
}

img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

figcaption {
  font-size: 2rem;
  font-weight: bold;
}

button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.3rem;
  border: 1px solid black;
  color: aliceblue;
  background-color: blue;
}

.js-tilt-glare {
  border-radius: 20px;
}
